#map{
    height:80%;
    width:100%
  }
  
  .round {
    width: 50%;
    height: 20%;
    border-radius: 99%;
    vertical-align: middle;
    font-size: 2rem;
    background-color: red
  }
  .rounded {
    width: 50%;
    height: 20%;
    border-radius: 99%;
    vertical-align: middle;
    font-size: 2rem;
    background-color: blue
  }